<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Fraud Detection Project</title>
</head>
<body>
    <div class="container">
        <h1>Fraud Detection Project</h1>
        <div class="menu">
            <a href="{{ url_for('upload') }}" class="button">Upload Data</a>
        </div>
    </div>
</body>
</html>
