<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Upload Successful</title>
</head>
<body>
    <div class="container">
        <h1>File '{{ filename }}' uploaded and preprocessed successfully!</h1>
        <div class="menu">
            <a href="{{ url_for('index') }}" class="back-button">Go back to Home</a>
            <a href="{{ url_for('train') }}" class="button">Train the Model</a>
        </div>
    </div>
</body>
</html>
